Repository sparkletown/sparkle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Update package-lock
  package-lock.json
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.tsx
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add normalize as the favoured "reset"
  package.json
  src/index.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add chromatic support
  .circleci/config.yml
  package.json
Due: none

Work in progress on AdminNavBar
  src/components/layouts/AdminLayout/AdminLayout.module.scss
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/layouts/AdminLayout/index.tsx
  src/components/molecules/AdminNavBar/AdminNavBar.tsx
  src/components/molecules/AdminNavBar/index.ts
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Get tailwind installed
  craco.config.js
  package.json
  src/components/layouts/AdminLayout/AdminLayout.module.scss
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/scss/global.scss
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add storybook to the project
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Implement the header
  src/components/atoms/AdminHeader/AdminHeader.tsx
  src/components/atoms/AdminHeader/index.tsx
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Create the nav bar
  package.json
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/molecules/AdminNavBar/AdminNavBar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Set fonts and colours
  src/TODO
  tailwind.config.js
Due: none

Make navbar look like something
  src/components/molecules/AdminNavBar/AdminNavBar.scss
  src/components/molecules/AdminNavBar/AdminNavBar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Tracking notes
  open-questions
  src/TODO
Due: none

Set correct html classes
  src/components/layouts/AdminLayout/AdminLayout.module.scss
  src/components/layouts/AdminLayout/AdminLayout.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

More TODO
  src/TODO
Due: none

Fix up header of admin
  src/TODO
  src/components/admin/HeaderButton.tsx
  src/components/admin/Section.tsx
  src/components/admin/SectionHeading.tsx
  src/components/admin/SectionTitle.tsx
  src/components/layouts/FullWidthLayout.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Implement world switcher page;
  src/TODO
  src/components/admin/TableRowAvatar.tsx
  src/components/molecules/WorldCard/WorldCard.scss
  src/components/molecules/WorldCard/WorldCard.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/pages/WorldsDashboard/WorldsTable.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Initial layout for attendees
  src/TODO
  src/assets/icons/icon-heart-fill.svg
  src/assets/icons/icon-heart.svg
  src/assets/icons/icon-info.svg
  src/assets/icons/icon-mute.svg
  src/assets/icons/icon-reply.svg
  src/assets/icons/icon-unmute.svg
  src/assets/icons/icon-users.svg
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeFooter.tsx
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/scss/AttendeeMixins.scss
  src/components/attendee/scss/AttendeeVariables.scss
  src/components/templates/PartyMap/PartyMap.module.scss
  src/components/templates/PartyMap/PartyMap.scss
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/Map.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/core/AppRouter/AppRouter.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/pages/VenuePage/VenuePage.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Remove old postcss
  package.json
Due: none

Prototype of new video huddle component
  src/TODO
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/attendee/VideoHuddle/index.tsx
  src/components/attendee/VideoHuddle/useVideoHuddle.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/Video/VideoParticipant.module.scss
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Log open question
  src/TODO
Due: none

Fix tailwind and postcss config
  craco.config.js
  package-lock.json
  package.json
  tailwind.config.js
Due: none

Gradient background;
  src/TODO
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/scss/Gradients.module.scss
  src/components/attendee/useBackgroundGradient.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Split TODO into sections
  src/TODO
Due: none

Strip out undesired parts for now
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Stop mixpanel integration spamming the console
  src/hooks/useAnalytics.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Collapse into one TODO
  open-questions
  src/TODO
Due: none

Improvised dithering
  src/components/attendee/scss/Gradients.module.scss
Due: prettier --write

Prettier fix
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeFooter.tsx
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/attendee/VideoHuddle/useVideoHuddle.tsx
  src/components/attendee/scss/AttendeeMixins.scss
  src/components/attendee/scss/AttendeeVariables.scss
  src/components/molecules/AdminSpaceCard/AdminSpaceCard.tsx
  src/components/molecules/NavBar/NavBar.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/AdminVenueView/components/VenueRoomsEditor/VenueRoomsEditor.tsx
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/PartyMap/PartyMap.module.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/pages/Account/Venue/VenueMapEdition/Container.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
  src/stories/Introduction.stories.mdx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Minor fixes
  src/components/templates/AnimateMap/components/TooltipWidget/TooltipWidget.tsx
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
  src/pages/VenuePage/VenuePage.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fix dependencies
  package-lock.json
  package.json
  src/components/organisms/WithAdminNavBar/WithAdminNavBar.scss
  src/components/organisms/WithAdminNavBar/WithAdminNavBar.tsx
  src/components/organisms/WithAdminNavBar/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

New package-lock
  package-lock.json
Due: none

Remove storybook
  .circleci/config.yml
  package.json
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Remove unused SCSS
  src/components/molecules/Modal/Modal.scss
  src/components/molecules/Popover/Popover.scss
Due: prettier --write

Fix bad merge
  src/components/molecules/TableComponent/TableComponent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add admin sidebar, navigation and footer
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/molecules/AdminFooter/AdminFooter.tsx
  src/components/molecules/AdminFooter/index.ts
  src/components/molecules/AdminNavBar/AdminNavBar.tsx
  src/components/molecules/AdminNavBar/components/SidebarContent/SidebarContent.tsx
  src/components/molecules/AdminNavBar/components/SidebarContent/index.ts
  src/components/molecules/AdminSidebarProfile/AdminSidebarProfile.tsx
  src/components/molecules/AdminSidebarProfile/index.ts
  src/components/organisms/AdminProfileModal/AdminProfileModal.tsx
  src/components/organisms/AdminProfileModal/index.ts
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/settings/urlSettings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fixes missing function
  functions/src/analytics.ts
  functions/src/utils/permissions.ts
  functions/src/world.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Adds missing function
  functions/src/analytics.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Adds guard statement
  functions/src/analytics.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Adds missing function in analytics (#2814)
  functions/src/analytics.ts
  functions/src/utils/permissions.ts
  functions/src/world.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fixes broken function deploy checker
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: any of: {src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
  eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx: any of: {src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx}
