Repository sparkletown/sparkle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

.lintstagedrc.json:

{
  "{src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "prettier --write"
  ],
  "{src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx"
  ]
}

bump the firebase related packages
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
Due: none

try the local run of cypress with emulators in circle
  .circleci/config.yml
Due: none

remove boothTemplateSpaceId null value from the functions (#3072)
  functions/src/venue.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Post-review changes
  src/components/attendee/EventInfo/EventInfo.tsx
  src/components/attendee/SpaceInfoText/SpaceInfoText.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapPortal.tsx
  src/settings/index.ts
  src/utils/time.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add download of functions' config
  .circleci/config.yml
Due: none

move the download of config to the correct job
  .circleci/config.yml
Due: none

try firebase command from the .bin directory instead of npx
  .circleci/config.yml
Due: none

Snagging of TableComponent (#3056)
  src/components/attendee/TableComponent/TableComponent.module.scss
  src/components/attendee/TableComponent/TableComponent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fix meeting room background size
  src/pages/VenuePage/TemplateWrapper.module.scss
Due: prettier --write

improve user management modals ui
  src/components/admin/EditAdminModal/EditAdminModal.tsx
  src/components/admin/InviteAdminModal/InviteAdminModal.tsx
  src/components/admin/WorldUserCard/WorldUserCard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Try the version without downloading config again
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

[INTO hoist-login-signup] Adds spash pages for world and space (#3032)
  src/api/world.ts
  src/components/attendee/OnboardingPage/OnboardingPage.hoc.tsx
  src/components/attendee/OnboardingPage/OnboardingPage.tsx
  src/components/attendee/OnboardingPage/index.ts
  src/components/attendee/SpaceEntrancePage/SpaceEntrancePage.tsx
  src/components/attendee/SpaceEntrancePage/index.ts
  src/components/attendee/SplashSpace/SplashSpace.hoc.tsx
  src/components/attendee/SplashSpace/SplashSpace.module.scss
  src/components/attendee/SplashSpace/SplashSpace.tsx
  src/components/attendee/SplashSpace/index.ts
  src/components/attendee/SplashWorld/SplashWorld.hoc.tsx
  src/components/attendee/SplashWorld/SplashWorld.module.scss
  src/components/attendee/SplashWorld/SplashWorld.tsx
  src/components/attendee/SplashWorld/index.ts
  src/components/attendee/WorldPage/WorldPage.hoc.tsx
  src/components/attendee/WorldPage/WorldPage.tsx
  src/components/attendee/WorldPage/index.ts
  src/components/shared/SplashGated.tsx
  src/core/AppRouter/AccountSubRouter.tsx
  src/core/AppRouter/AppRouter.tsx
  src/pages/Account/CodeOfConduct.tsx
  src/pages/Account/helpers.ts
  src/pages/VenueLandingPage/VenueLandingPage.scss
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/pages/VenueLandingPage/index.ts
  src/pages/auth/LoginForm/LoginForm.tsx
  src/settings/urlSettings.ts
  src/types/User.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Onboarding touches
  functions/src/user.ts
  src/api/auth.ts
  src/components/attendee/OnboardingPage/OnboardingPage.tsx
  src/components/attendee/SpaceEntrancePage/SpaceEntrancePage.hoc.tsx
  src/components/shared/OnboardingGated.tsx
  src/components/shared/SplashGated.tsx
  src/core/AppRouter/AccountSubRouter.tsx
  src/hooks/user/useOnboardingDetails.ts
  src/pages/Account/helpers.ts
  src/pages/auth/RegisterForm/RegisterForm.tsx
  src/settings/apiSettings.ts
  src/settings/urlSettings.ts
  src/types/User.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Run the e2e-test-with-emulators
  .circleci/config.yml
Due: none

added search result handlers + refactoring + minor style fixes
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/SearchOverlay/EventItem/EventItem.tsx
  src/components/attendee/SearchOverlay/PortalItem/PortalItem.module.scss
  src/components/attendee/SearchOverlay/PortalItem/PortalItem.tsx
  src/components/attendee/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/SearchOverlay/SearchOverlay.tsx
  src/components/attendee/SearchOverlay/SpaceItem/SpaceItem.tsx
  src/components/attendee/SearchOverlay/UserItem/UserItem.tsx
  src/hooks/events.ts
  src/hooks/useVenueScheduleEvents.ts
  src/settings/dateSettings.ts
  src/types/venues.ts
  src/utils/time.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add cypress dependencies to install
  .circleci/config.yml
Due: none

Use sudo for installing cypress deps
  .circleci/config.yml
Due: none

Removes facebook signin
  src/hooks/useSocialSignIn.ts
  src/pages/auth/LoginForm/LoginForm.tsx
  src/pages/auth/RegisterForm/RegisterForm.tsx
  src/pages/auth/SocialLogin.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

remove space owners from user management and codebase
  firestore.rules
  functions/src/venue.ts
  src/components/admin/EditAdminModal/EditAdminModal.tsx
  src/components/admin/EditAdminModal/index.ts
  src/components/admin/InviteAdminModal/FoundUserCard/FoundUserCard.tsx
  src/components/admin/InviteAdminModal/FoundUserCard/index.ts
  src/components/admin/InviteAdminModal/InviteAdminModal.tsx
  src/components/admin/InviteAdminModal/SelectedUserCard/SelectedUserCard.tsx
  src/components/admin/InviteAdminModal/SelectedUserCard/index.ts
  src/components/admin/WorldUserCard/WorldUserCard.tsx
  src/components/organisms/AdminVenueView/AdminVenueView.tsx
  src/pages/Admin/WorldUsers/WorldUsers.tsx
  src/settings/imageSettings.ts
  src/types/User.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Remove extra unneeded circle jobs
  .circleci/config.yml
Due: none

Remove commented out orb
  .circleci/config.yml
Due: none

Rnd/chempress circle (#3064)
  .circleci/config.yml
  functions/package-lock.json
  functions/package.json
  package.json
Due: none

meeting space auto join + huddle video/audio tweak (#3062)
  src/components/attendee/VideoHuddle/useVideoHuddle.tsx
  src/components/attendee/WebcamGrid/WebcamGrid.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fixed external/local url recognition (#3063)
  src/utils/url.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Make portals responsive (#3071)
  src/components/attendee/Banner/Banner.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/EventInfo/EventInfo.module.scss
  src/components/attendee/EventInfo/EventInfo.tsx
  src/components/attendee/EventInfo/index.ts
  src/components/attendee/PortalModal/PortalModal.module.scss
  src/components/attendee/PortalModal/PortalModal.tsx
  src/components/attendee/SpaceInfoText/SpaceInfoText.module.scss
  src/components/attendee/SpaceInfoText/SpaceInfoText.tsx
  src/components/attendee/SpaceInfoText/index.ts
  src/components/molecules/SpaceInfoText/SpaceInfoText.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/components/templates/ArtPiece/ArtPiece.tsx
  src/components/templates/ConversationSpace/ConversationSpace.tsx
  src/components/templates/Embeddable/Embeddable.tsx
  src/components/templates/Jazzbar/JazzBar.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapPortal.module.scss
  src/components/templates/PartyMap/components/Map/MapPortal.tsx
  src/settings/index.ts
  src/utils/event.ts
  src/utils/time.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx
