Repository sparkletown/sparkle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

replace popover with custom div + changed top/left offset logic + popover options reverted/removed
  src/components/attendee/Popover.tsx
  src/components/attendee/PortalModal/PortalModal.module.scss
  src/components/attendee/PortalModal/PortalModal.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapPortal.tsx
  src/scss/attendee/layout.scss
  src/settings/index.ts
  src/types/rooms.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

minor fix
  src/components/attendee/PortalModal/PortalModal.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

add variables
  src/components/attendee/PortalModal/PortalModal.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

feat(beavers): add game controls
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/common/GameControls.ts
  src/components/templates/AnimateMap/game/common/index.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fixx icon/border colors + padding
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/Password/ProfileModalChangePassword.module.scss
  src/components/attendee/ProfileLinkIcon/ProfileLinkIcon.module.scss
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
  src/components/attendee/ProfileOverlay/ProfileOverlay.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

add button paddingles prop
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

minor style changes
  src/components/attendee/Password/ProfileModalChangePassword.module.scss
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
  src/types/props.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

hardcoded values replaced
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
Due: prettier --write

Profile snagging fix (#3030)
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/Password/ProfileModalChangePassword.module.scss
  src/components/attendee/ProfileLinkIcon/ProfileLinkIcon.module.scss
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
  src/components/attendee/ProfileOverlay/ProfileOverlay.tsx
  src/types/props.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

refactor: remove GameInstance.instance from components
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/game/commands/RoundAvatar.ts
  src/components/templates/AnimateMap/game/common/GameControls.ts
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/entities/createArtcarEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createFirebarrelEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createVenueEntity.ts
  src/components/templates/AnimateMap/game/map/systems/AvatarTuningSystem.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
  src/components/templates/AnimateMap/game/map/systems/LineOfSightSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionArtcarSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionBaseSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionBotSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionClickSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionCollisionSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionControlSwitchSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionJoystickSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionKeyboardSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionTeleportSystem.ts
  src/components/templates/AnimateMap/game/map/systems/VenueSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportBackgroundSystem.ts
  src/components/templates/AnimateMap/game/utils/PlaygroundMap.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Adds splash pages
  src/components/attendee/SplashSpace/SplashSpace.hoc.tsx
  src/components/attendee/SplashSpace/SplashSpace.module.scss
  src/components/attendee/SplashSpace/SplashSpace.tsx
  src/components/attendee/SplashSpace/index.ts
  src/components/attendee/SplashWorld/SplashWorld.hoc.tsx
  src/components/attendee/SplashWorld/SplashWorld.module.scss
  src/components/attendee/SplashWorld/SplashWorld.tsx
  src/components/attendee/SplashWorld/index.ts
  src/components/shared/SplashGated.tsx
  src/core/AppRouter/AppRouter.tsx
  src/pages/VenueLandingPage/VenueLandingPage.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/pages/VenueLandingPage/index.ts
  src/settings/urlSettings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

refactor(AnimatedMap): remove GameInstance.instance from game components
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/commands/CropVenue.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/entities/createVenueEntity.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

feat(AnimateMap): add common
  src/components/templates/AnimateMapCommon/AnimateMapEntity.ts
  src/components/templates/AnimateMapCommon/AnimateMapFirebarrelData.ts
  src/components/templates/AnimateMapCommon/AnimateMapUserData.ts
  src/components/templates/AnimateMapCommon/AnimateMapVenueData.ts
  src/components/templates/AnimateMapCommon/index.ts
  src/store/reducers/AnimateMap.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

multiple styles fixes + escape press closes overlay/hook + js alert go to homepage + title max width
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/AttendeeLayout/AttendeeLayout.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/ProfileOverlay/ProfileOverlay.module.scss
  src/components/attendee/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/SpaceInfo/SpaceInfo.module.scss
  src/components/attendee/SpaceInfo/SpaceInfo.tsx
  src/hooks/keyboard/useKeyboardKeys.ts
  src/scss/attendee/breakpoint.scss
  src/scss/attendee/layout.scss
  src/settings/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Minor image hook and error capture refactor for map background and similar
  src/components/attendee/SpaceInfo/SpaceInfo.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/SpaceChat.hoc.tsx
  src/components/templates/Auditorium/components/SeatingBlock/SeatingBlock.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/hooks/image/ImageCheck.ts
  src/hooks/image/useCheckImage.ts
  src/hooks/image/useValidImage.ts
  src/hooks/useCheckImage.ts
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/utils/error.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fixed input ref + tuner styles + disable tuner unless seated + remove sharing from webcam grid
  src/components/attendee/Input/Input.tsx
  src/components/attendee/MediaElement/MediaElement.module.scss
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.tsx
  src/components/attendee/RetunableMediaElement/components/Tuner.module.scss
  src/components/attendee/RetunableMediaElement/components/Tuner.tsx
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/scss/attendee/layer.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Minor image hook and error capture refactor for map background and similar (#3034)
  src/components/attendee/SpaceInfo/SpaceInfo.tsx
  src/components/organisms/AdminVenueView/components/Spaces/Spaces.tsx
  src/components/organisms/ChatSidebar/ChatSidebar.tsx
  src/components/organisms/ChatSidebar/components/VenueChat/SpaceChat.hoc.tsx
  src/components/templates/Auditorium/components/SeatingBlock/SeatingBlock.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PosterHall/components/PosterPreview/PosterPreview.tsx
  src/hooks/image/ImageCheck.ts
  src/hooks/image/useCheckImage.ts
  src/hooks/image/useValidImage.ts
  src/hooks/useCheckImage.ts
  src/pages/Admin/MapPreview/MapPreview.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
  src/utils/error.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fixes and refactoring
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/WebcamGrid/WebcamGrid.module.scss
  src/scss/attendee/theme.scss
Due: prettier --write

Add new cypress setup
  .gitignore
  cypress.json
  cypress/.eslintrc.json
  cypress/fixtures/example.json
  cypress/integration/examples/cypress-register.spec.js
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: none

Setup env and TS tests for Cypress
  .env.example
  .gitignore
  cypress.json
  cypress/integration/init.spec.ts
  cypress/integration/util/get.ts
  cypress/integration/util/visit.ts
  cypress/plugins/index.js
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: none

Convert cypress/plugins/index.js JS -> TS
  cypress/plugins/index.js
  cypress/plugins/index.ts
Due: none

Minor adjustments of spec files
  .gitignore
  cypress.json
  cypress/integration/init.spec.ts
  cypress/support/index.ts
  cypress/support/util/get.ts
  cypress/support/util/visit.ts
Due: none

Adds proper splash page routing; Adds World page component
  src/api/world.ts
  src/components/attendee/SplashSpace/SplashSpace.module.scss
  src/components/attendee/SplashSpace/SplashSpace.tsx
  src/components/attendee/SplashWorld/SplashWorld.hoc.tsx
  src/components/attendee/SplashWorld/SplashWorld.module.scss
  src/components/attendee/SplashWorld/SplashWorld.tsx
  src/components/attendee/WorldPage/WorldPage.hoc.tsx
  src/components/attendee/WorldPage/WorldPage.tsx
  src/components/attendee/WorldPage/index.ts
  src/components/shared/SplashGated.tsx
  src/core/AppRouter/AppRouter.tsx
  src/settings/urlSettings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

redone scroll styles
  src/components/attendee/ScheduleOverlay/ScheduleOverlay.module.scss
  src/scss/attendee/initial.scss
  src/scss/attendee/scrollbar.scss
  src/scss/attendee/theme.scss
Due: prettier --write

Snagging: Chat
  src/components/atoms/ChatMessage/ChatMessage.module.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.module.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/Popover.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.module.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fix banner popping up on each update
  src/components/attendee/Banner/Banner.tsx
  src/hooks/useShowHide.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

remove console
  src/hooks/useShowHide.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fix banner popping up on each update (#3040)
  src/components/attendee/Banner/Banner.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Final pruning
  src/types/grid.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

remove console
  src/components/attendee/RetunableMediaElement/components/Tuner.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Snagging | SPACE / Retuneable Media Element (#3035)
  src/components/attendee/Input/Input.tsx
  src/components/attendee/MediaElement/MediaElement.module.scss
  src/components/attendee/RetunableMediaElement/RetunableMediaElement.tsx
  src/components/attendee/RetunableMediaElement/components/Tuner.module.scss
  src/components/attendee/RetunableMediaElement/components/Tuner.tsx
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/scss/attendee/layer.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

refactor(AnimateMap): make AnimateMapUI
  src/components/templates/AnimateMap/AnimateMap.tsx
  src/components/templates/AnimateMap/bridges/CloudDataProviderWrapper.tsx
  src/components/templates/AnimateMap/hooks/useRelatedPartymapRooms.ts
  src/components/templates/AnimateMapCommon/AnimateMapActionTypes.ts
  src/components/templates/AnimateMapCommon/AnimateMapIds.tsx
  src/components/templates/AnimateMapCommon/AnimateMapRoom.ts
  src/components/templates/AnimateMapCommon/AnimateMapSettings.ts
  src/components/templates/AnimateMapCommon/AnimateMapSounds.ts
  src/components/templates/AnimateMapCommon/AnimateMapSpace.ts
  src/components/templates/AnimateMapCommon/AnimateMapVenueTemplate.ts
  src/components/templates/AnimateMapCommon/index.ts
  src/components/templates/AnimateMapCommon/utils/KeyPollSingleton.ts
  src/components/templates/AnimateMapCommon/utils/Keyboard.tsx
  src/components/templates/AnimateMapCommon/utils/index.ts
  src/components/templates/AnimateMapCommon/utils/utils.ts
  src/components/templates/AnimateMapUI/components/AnimateMapContorlPanel.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapControlPanel.scss
  src/components/templates/AnimateMapUI/components/AnimateMapErrorPrompt.scss
  src/components/templates/AnimateMapUI/components/AnimateMapErrorPrompt.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapShoutouter.scss
  src/components/templates/AnimateMapUI/components/AnimateMapShoutouter.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapSingleButton.scss
  src/components/templates/AnimateMapUI/components/AnimateMapSingleButton.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapTooltipWidget.scss
  src/components/templates/AnimateMapUI/components/AnimateMapTooltipWidget.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapUI.scss
  src/components/templates/AnimateMapUI/components/AnimateMapUI.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapUIContainer.scss
  src/components/templates/AnimateMapUI/components/AnimateMapUIContainer.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapUIOverlay.scss
  src/components/templates/AnimateMapUI/components/AnimateMapUIOverlay.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapUIOverlayGrid.scss
  src/components/templates/AnimateMapUI/components/AnimateMapUIOverlayGrid.tsx
  src/components/templates/AnimateMapUI/components/AnimateMapUIPlayerClickHandler.scss
  src/components/templates/AnimateMapUI/components/AnimateMapUIPlayerClickHandler.tsx
  src/components/templates/AnimateMapUI/components/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add more meaning to chat height
  src/components/attendee/ChatContainer.module.scss
Due: prettier --write

Snagging: Chat (#3038)
  src/components/atoms/ChatMessage/ChatMessage.module.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.module.scss
  src/components/atoms/ChatMessageInfo/ChatMessageInfo.tsx
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/ChatContainer.tsx
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/Popover.tsx
  src/components/molecules/ChatMessageBox/ChatMessageBox.module.scss
  src/components/molecules/ChatMessageBox/ChatMessageBox.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

visual fixes + variable formatting
  src/components/admin/Dropdown/Dropdown.tailwind.ts
  src/components/admin/Dropdown/Dropdown.tsx
  src/components/attendee/PortalModal/PortalModal.module.scss
  src/components/attendee/PortalModal/PortalModal.tsx
  src/components/templates/PartyMap/PartyMap.tsx
  src/components/templates/PartyMap/components/Map/Map.tsx
  src/components/templates/PartyMap/components/Map/MapPortal.module.scss
  src/components/templates/PartyMap/components/Map/MapPortal.tsx
  src/scss/attendee/layer.scss
  src/scss/attendee/theme.scss
  src/settings/index.ts
  src/types/rooms.ts
  src/utils/image.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

full width fixes
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/MediaElement/MediaElement.module.scss
  src/pages/VenuePage/TemplateWrapper.module.scss
Due: prettier --write

refatcor(AnimateMap): game isolation
  src/components/templates/AnimateMap/game/GameInstance.ts
  src/components/templates/AnimateMap/game/common/GameActionTypes.ts
  src/components/templates/AnimateMap/game/common/GameControls.ts
  src/components/templates/AnimateMap/game/common/GamePlayerModel.ts
  src/components/templates/AnimateMap/game/common/GameSettings.ts
  src/components/templates/AnimateMap/game/common/TiledEditorPlaya.json
  src/components/templates/AnimateMap/game/common/User.ts
  src/components/templates/AnimateMap/game/common/index.ts
  src/components/templates/AnimateMap/game/common/utils.ts
  src/components/templates/AnimateMap/game/constants/AssetConstants.ts
  src/components/templates/AnimateMap/game/constants/StubData.tsx
  src/components/templates/AnimateMap/game/map/MapContainer.ts
  src/components/templates/AnimateMap/game/map/components/ArtcarComponent.ts
  src/components/templates/AnimateMap/game/map/components/AvatarTuningComponent.ts
  src/components/templates/AnimateMap/game/map/components/BotComponent.ts
  src/components/templates/AnimateMap/game/map/components/FirebarrelComponent.ts
  src/components/templates/AnimateMap/game/map/components/MotionToPointComponent.ts
  src/components/templates/AnimateMap/game/map/components/PlayerComponent.ts
  src/components/templates/AnimateMap/game/map/components/VenueComponent.ts
  src/components/templates/AnimateMap/game/map/components/ViewportComponent.ts
  src/components/templates/AnimateMap/game/map/components/WaitingArtcarEnterClickComponent.ts
  src/components/templates/AnimateMap/game/map/components/WaitingVenueClickComponent.ts
  src/components/templates/AnimateMap/game/map/entities/EntityFactory.ts
  src/components/templates/AnimateMap/game/map/entities/createArtcarEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createBotEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createFirebarrelEntity.ts
  src/components/templates/AnimateMap/game/map/entities/createVenueEntity.ts
  src/components/templates/AnimateMap/game/map/systems/DebugSystem.ts
  src/components/templates/AnimateMap/game/map/systems/FirebarrelSystem.ts
  src/components/templates/AnimateMap/game/map/systems/LineOfSightSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionCollisionSystem.ts
  src/components/templates/AnimateMap/game/map/systems/MotionControlSwitchSystem.ts
  src/components/templates/AnimateMap/game/map/systems/ViewportSystem.ts
  src/components/templates/AnimateMap/game/utils/Point.ts
  src/components/templates/AnimateMap/game/utils/bezierCurveFunction.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Adds quick join; Implements onboarding parts
  src/components/attendee/SplashSpace/SplashSpace.tsx
  src/components/attendee/SplashWorld/SplashWorld.tsx
  src/core/AppRouter/AppRouter.tsx
  src/core/AppRouter/OnboardingSubRouter.tsx
  src/pages/WorldOnboarding/WorldOnboarding.tsx
  src/pages/auth/LoginForm/LoginForm.tsx
  src/settings/urlSettings.ts
  src/types/User.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Path conditions:
  prettier --write: any of: {src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
  eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx: any of: {src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx}
