Repository sparkletown/sparkle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

.lintstagedrc.json:

{
  "{src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "prettier --write"
  ],
  "{src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx"
  ]
}

Fixes broken function deploy checker (#2815)
  .circleci/config.yml
Due: none

fixes and refactoring for comments
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/forms/worldScheduleSchema.ts
  src/hooks/useRelatedVenues.tsx
  src/pages/WorldSchedule/WorldSchedule.tsx
  src/settings/urlSettings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

show world events and space events separately
  src/api/admin.ts
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/WorldSchedule/WorldSchedule.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Rework some of Dropdown styles to make chat options work
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/Checkbox/Checkbox.tsx
  src/components/atoms/Dropdown/Dropdown.scss
  src/components/atoms/Dropdown/Dropdown.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.scss
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add package-lock back
  package-lock.json
Due: none

added attendee header + overlay + schedule
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/Header/AttendeeHeader.tsx
  src/components/attendee/Overlay/Overlay.module.scss
  src/components/attendee/Overlay/Overlay.tsx
  src/components/attendee/Overlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/Overlay/ScheduleOverlay/ScheduleOverlay.tsx
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/attendee/scss/AttendeeVariables.scss
  src/components/molecules/SubmitError/SubmitError.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

step 4 playa image missing fix
  src/pages/Account/Step4.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

rename overlay into navoverlay
  src/components/attendee/Header/AttendeeHeader.tsx
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.tsx
  src/components/attendee/Overlay/Overlay.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fix header title
  src/components/attendee/Header/AttendeeHeader.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

prettier format post rebase
  src/components/atoms/VenueWithOverlay/VenueWithOverlay.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fixes based on the review comments
  src/components/atoms/AdminButton/AdminButton.tsx
  src/components/atoms/AdminButton/index.ts
  src/components/molecules/AdminNavBar/components/SidebarContent/SidebarContent.tsx
  src/components/organisms/AdminProfileModal/AdminProfileModal.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Ran npm run reformat
  package-lock.json
  package.json
  src/components/atoms/VenueWithOverlay/VenueWithOverlay.tsx
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/molecules/SubmitError/SubmitError.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fix prettier to the specific version of 2.2.1
  package-lock.json
  package.json
Due: none

fix prettier to the specific version of 2.2.1 (#2818)
  package-lock.json
  package.json
Due: none

fix prettier version
  package-lock.json
  package.json
Due: none

fix space schedule events to show up correctly
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/TimingEvent/TimingEvent.tsx
  src/components/organisms/TimingSpace/TimingSpace.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fix dropdown label
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fix package-lock.json
  package-lock.json
Due: none

use related venues for parent back options (#2808)
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fix for mobile resolutions
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/pages/Account/Step4.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

upgrade font awesome icons to 6.0.0 + fontawesome-svg-core 1.3.0
  package-lock.json
  package.json
Due: none

Fixes roles issues
  functions/src/world.ts
  src/components/organisms/ChatSidebar/components/VenueChat/withMessages.ts
  src/hooks/chats/venue/useCanDeleteVenueChatMessages.tsx
  src/hooks/spaces/useWorldSpaces.ts
  src/hooks/worlds/useOwnWorlds.ts
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/SpacesDashboard/index.ts
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

restore PlayerIO vendor lib
  src/components/templates/AnimateMap/vendors/playerio/PlayerIO.js
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

disable playerio
  src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/PlayerIODataProvider.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fix for linting
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/molecules/TablesUserList/TablesUserList.tsx
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/components/templates/PartyMap/components/Map/MapRoom.tsx
  src/pages/VenuePage/TemplateWrapper.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Some code comments and house keeping
  src/components/atoms/Dropdown/Dropdown.scss
  src/scss/constants.scss
Due: prettier --write

Update files with missed prettier
  src/components/atoms/VenueWithOverlay/VenueWithOverlay.tsx
  src/components/molecules/TableComponent/TableComponent.tsx
  src/pages/VenueLandingPage/VenueLandingPageContent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Pin prettier
  package-lock.json
  package.json
Due: none

Ran npm run reformat (#2817)
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/molecules/SubmitError/SubmitError.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Rework some of Dropdown styles to make chat options work (#2816)
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/atoms/Checkbox/Checkbox.tsx
  src/components/atoms/Dropdown/Dropdown.scss
  src/components/atoms/Dropdown/Dropdown.tsx
  src/components/atoms/UserStatusDropdown/UserStatusDropdown.scss
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.scss
  src/components/molecules/Chatbox/components/ChatboxOptionsControls/ChatboxOptionsControls.tsx
  src/components/organisms/BannerAdmin/BannerAdmin.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/scss/constants.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Remove unneeded eslint-disable
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/templates/Jazzbar/JazzBar/JazzBar.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

remove Suspence component
  src/pages/VenuePage/TemplateWrapper.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Enable login on attendee side
  src/components/attendee/AttendeeLayout.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Temporary styles until we decide what to do
  src/components/atoms/ButtonNG/ButtonNG.module.scss
  src/components/atoms/ButtonNG/ButtonNG.scss
  src/components/atoms/ButtonNG/ButtonNG.tsx
  src/components/attendee/scss/Gradients.module.scss
  src/components/molecules/DefaultAvatars/DefaultAvatars.module.scss
  src/components/molecules/DefaultAvatars/DefaultAvatars.scss
  src/components/molecules/DefaultAvatars/DefaultAvatars.tsx
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.module.scss
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.scss
  src/components/molecules/ProfilePictureInput/ProfilePictureInput.tsx
  src/components/organisms/AuthenticationModal/InitialForm/InitialForm.tsx
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.module.scss
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/pages/Account/Login/Login.tsx
  src/pages/Account/Login/scss/Login.module.scss
  src/pages/Account/Profile.tsx
  src/scss/formStyles.module.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

PR cleanups
  src/components/organisms/ChatSidebar/components/VenueChat/withMessages.ts
  src/hooks/chats/venue/useCanDeleteVenueChatMessages.tsx
  src/hooks/fire/useFireCollection.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fixes permissions
  functions/src/analytics.ts
  functions/src/utils/permissions.ts
  functions/src/venue.ts
  functions/src/world.ts
  src/hooks/spaces/useWorldSpaces.ts
  src/hooks/user/useAdminRole.ts
  src/hooks/worlds/useOwnWorlds.ts
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

move the scss files to the correct dir
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/scss/AttendeeMixins.scss
  src/scss/AttendeeVariables.scss
Due: prettier --write

use @use instead of @import for the current scss files
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/scss/attendee/mixins.scss
  src/scss/attendee/variables.scss
Due: prettier --write

move the scss files to the correct dir (#2823)
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/scss/attendee/mixins.scss
  src/scss/attendee/variables.scss
Due: prettier --write

Move global styles to admin-only global styles
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/index.tsx
  src/scss/admin/initial.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx
