Repository sparkletown/sparkle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

.lintstagedrc.json:

{
  "{src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
    "prettier --write"
  ],
  "{src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx"
  ]
}

Add few spacing functions
  src/scss/attendee/spacing.scss
  src/scss/attendee/variables.scss
Due: prettier --write

fixes and changes
  functions/src/world.ts
  src/api/admin.ts
  src/api/world.ts
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/AdminVenueView/components/SpaceTimingPanel/SpaceTimingPanel.tsx
  src/components/organisms/TimingEvent/TimingEvent.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/core/AppRouter/AdminSubRouter.tsx
  src/forms/eventEditSchema.ts
  src/hooks/useUser.ts
  src/pages/WorldSchedule/WorldSchedule.tsx
  src/pages/WorldSchedule/index.ts
  src/types/events.ts
  src/types/world.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fix types and values
  package-lock.json
  src/components/organisms/AdminVenueView/components/EventsView/EventsView.tsx
  src/components/organisms/TimingEvent/TimingEvent.tsx
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/hooks/useOwnedVenues.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Kill an overkill
  src/pages/SpacesDashboard/SpacesDashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

type fixes + eslint comments + form fixes
  src/components/atoms/ImageInput/ImageInput.tsx
  src/components/atoms/InputField/InputField.tsx
  src/components/atoms/PortalVisibility/PortalVisibility.tsx
  src/components/atoms/SpacesDropdown/SpacesDropdown.tsx
  src/components/molecules/AdminCheckbox/AdminCheckbox.tsx
  src/components/molecules/AdminInput/AdminInput.tsx
  src/components/molecules/AdminTextarea/AdminTextarea.tsx
  src/components/molecules/AdminUserStatusInput/AdminUserStatusInput.tsx
  src/components/molecules/EntranceButtonsInputFieldSet/EntranceButtonsInputFieldSet.tsx
  src/components/molecules/EntranceStepsInputFieldSet/EntranceStepsInputFieldSet.tsx
  src/components/molecules/PortalList/PortalList.tsx
  src/components/molecules/QuestionInputFieldSet/QuestionFieldSet.tsx
  src/components/molecules/SpaceEditForm/SpaceEditForm.tsx
  src/components/organisms/EntranceButtonsBuilder/EntranceButtonsBuilder.tsx
  src/components/organisms/EntranceStepsBuilder/EntranceStepsBuilder.tsx
  src/components/organisms/NewProfileModal/EditingProfileModalContent/EditingProfileModalContent.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalChangePassword/ProfileModalChangePassword.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalInput/ProfileModalInput.tsx
  src/components/organisms/NewProfileModal/components/ProfileModalQuestions/ProfileModalQuestions.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/organisms/NewProfileModal/components/header/ProfileModalEditBasicInfo/ProfileModalEditBasicInfo.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/components/organisms/NewProfileModal/components/links/ProfileModalEditLinks/ProfileModalEditLinks.tsx
  src/components/organisms/QuestionsBuilder/QuestionsBuilder.tsx
  src/components/organisms/ScreeningRoomVideoAddEditForm/ScreeningRoomVideoAddEditForm.tsx
  src/components/organisms/WorldAdvancedForm/WorldAdvancedForm.tsx
  src/components/organisms/WorldEntranceForm/WorldEntranceForm.tsx
  src/pages/Account/ProfileQuestions.tsx
  src/types/forms.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Move mixins and some variables to separate files
  craco.config.js
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/pages/Account/Profile.tsx
  src/scss/attendee/border.scss
  src/scss/attendee/breakpoint.scss
  src/scss/attendee/colors.scss
  src/scss/attendee/effects/atom.scss
  src/scss/attendee/effects/rounded.scss
  src/scss/attendee/effects/sparkle.scss
  src/scss/attendee/font.scss
  src/scss/attendee/form.module.scss
  src/scss/attendee/layer.scss
  src/scss/attendee/mixins.scss
  src/scss/attendee/space.scss
  src/scss/attendee/spacing.scss
  src/scss/attendee/theme.scss
  src/scss/attendee/variables.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Post-review changes
  src/components/admin/CardList.tsx
  src/components/admin/LinkButton.tsx
  src/components/admin/SectionSubtitle.tsx
  src/components/admin/SpaceCard.tsx
  src/settings/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add redesigned SwitchSpace page (#2837)
  src/components/admin/CardList.tsx
  src/components/admin/HeaderButton/HeaderButton.tsx
  src/components/admin/LinkButton.tsx
  src/components/admin/SectionSubtitle.tsx
  src/components/admin/SpaceCard.tsx
  src/components/atoms/AdminHeader/AdminHeader.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/settings/index.ts
  src/types/OnlineStatsData.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Admin sidebar, navigation and footer (#2812)
  src/assets/icons/sparkle-300.png
  src/components/admin/Button/Button.tailwind.ts
  src/components/admin/Button/Button.tsx
  src/components/admin/Button/index.ts
  src/components/admin/CardList.tsx
  src/components/admin/Footer/Footer.tsx
  src/components/admin/Footer/index.ts
  src/components/admin/HeaderButton.tsx
  src/components/admin/HeaderButton/HeaderButton.tailwind.ts
  src/components/admin/HeaderButton/HeaderButton.tsx
  src/components/admin/HeaderButton/index.ts
  src/components/admin/LinkButton.tsx
  src/components/admin/SectionSubtitle.tsx
  src/components/admin/Sidebar/Sidebar.tsx
  src/components/admin/Sidebar/components/NavBarLogin/NavBarLogin.scss
  src/components/admin/Sidebar/components/NavBarLogin/NavBarLogin.tsx
  src/components/admin/Sidebar/components/NavBarLogin/index.ts
  src/components/admin/Sidebar/components/SidebarContent/SidebarContent.tailwind.ts
  src/components/admin/Sidebar/components/SidebarContent/SidebarContent.tsx
  src/components/admin/Sidebar/components/SidebarContent/index.ts
  src/components/admin/Sidebar/index.ts
  src/components/admin/Sidebar/playa.scss
  src/components/admin/SpaceCard.tsx
  src/components/atoms/AdminHeader/AdminHeader.tsx
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/molecules/AdminNavBar/AdminNavBar.tsx
  src/components/molecules/AdminNavBar/index.ts
  src/components/molecules/AdminSidebarProfile/AdminSidebarProfile.tsx
  src/components/molecules/AdminSidebarProfile/index.ts
  src/components/organisms/AdminProfileModal/AdminProfileModal.tsx
  src/components/organisms/AdminProfileModal/index.ts
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldEditor/WorldEditor.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/settings/index.ts
  src/settings/interpolationSettings.ts
  src/settings/urlSettings.ts
  src/types/OnlineStatsData.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

minor fixes of styles/naming
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Button/index.ts
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/Header/AttendeeHeader.tsx
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.tsx
  src/utils/time.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

naming changes
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

minor fixes
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.tsx
  src/utils/time.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

New attendee schedule + header (#2813)
  package-lock.json
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Button/index.ts
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/Header/AttendeeHeader.tsx
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/scss/attendee/variables.scss
  src/utils/time.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Deploy redesign-2021 branch to sparkle-7 environment
  .circleci/config.yml
Due: none

Deploy redesign-2021 branch to sparkle-7 environment (#2848)
  .circleci/config.yml
Due: none

justify-self:start -> justify-self:flex-start to stop autoprefixer warning break deploy
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
Due: prettier --write

align-items:start -> align-items:flex-start to stop autoprefixer warning break deploy
  src/components/attendee/NavOverlay/NavOverlay.module.scss
Due: prettier --write

apply some additional comments
  src/components/admin/Header/Header.module.scss
  src/components/admin/Input/Input.module.scss
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tailwind.ts
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tsx
  src/components/admin/SpaceCreateForm/index.ts
  src/components/molecules/AdminInput/AdminInput.tsx
  src/components/molecules/AdminSection/AdminSection.tsx
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

some minor fixes and tweaks
  src/components/admin/Input/Input.module.scss
  src/scss/admin/constants.scss
  src/scss/admin/spacing.scss
Due: prettier --write

Redesign create space screen (#2844)
  src/components/admin/FormSection.tsx
  src/components/admin/FormSectionSubtitle.tsx
  src/components/admin/FormSectionTitle.tsx
  src/components/admin/Header/Header.module.scss
  src/components/admin/Header/Header.tailwind.ts
  src/components/admin/Header/Header.tsx
  src/components/admin/Header/index.ts
  src/components/admin/Input/Input.module.scss
  src/components/admin/Input/Input.tailwind.ts
  src/components/admin/Input/Input.tsx
  src/components/admin/Input/index.ts
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tailwind.ts
  src/components/admin/SpaceCreateForm/SpaceCreateForm.tsx
  src/components/admin/SpaceCreateForm/index.ts
  src/components/molecules/AdminSection/AdminSection.tsx
  src/components/molecules/PortalListItem/PortalListItem.tailwind.ts
  src/components/molecules/PortalListItem/PortalListItem.tsx
  src/components/molecules/YourUrlDisplay/YourUrlDisplay.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionSubTitle/AdminSidebarSectionSubTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.tsx
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.module.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.tailwind.ts
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
  src/scss/admin/constants.scss
  src/scss/admin/spacing.scss
  src/scss/colors.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Read userId from correct place so the visited space and world get saved
  src/pages/VenuePage/VenuePage.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Read userId from correct place so the visited space and world get saved (#2849)
  src/pages/VenuePage/VenuePage.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Use a correct create-space-url on the Spaces page
  src/pages/SpacesDashboard/SpacesDashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

minor post merge fixes
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/NavOverlay/SearchOverlay/PortalItem/PortalItem.tsx
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

package lock restore
  package-lock.json
Due: none

Fix width of edit buttons on the Spaces page
  src/components/admin/LinkButton/LinkButton.tailwind.ts
  src/components/admin/LinkButton/LinkButton.tsx
  src/components/admin/LinkButton/index.ts
  src/components/admin/SpaceCard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fix bugs on the Spaces page (#2850)
  src/components/admin/LinkButton/LinkButton.tailwind.ts
  src/components/admin/LinkButton/LinkButton.tsx
  src/components/admin/LinkButton/index.ts
  src/components/admin/SpaceCard.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

add additional fixes and twaeks
  src/components/organisms/TimingEventModal/TimingEventModal.tsx
  src/pages/WorldSchedule/WorldSchedule.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

use breakpoint SCSS module
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/scss/attendee/breakpoint.scss
Due: prettier --write

Preemptive SCSS re-organization (#2846)
  craco.config.js
  package-lock.json
  src/components/admin/Header/Header.module.scss
  src/components/admin/Input/Input.module.scss
  src/components/attendee/AttendeeFooter.module.scss
  src/components/attendee/AttendeeLayout.module.scss
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/ChatContainer.module.scss
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/components/templates/PartyMap/components/Map/Map.module.scss
  src/components/templates/PartyMap/components/Map/MapRoom.module.scss
  src/pages/Account/Profile.tsx
  src/scss/admin/constants.scss
  src/scss/admin/spacing.scss
  src/scss/attendee/border.scss
  src/scss/attendee/breakpoint.scss
  src/scss/attendee/effects/atom.scss
  src/scss/attendee/effects/rounded.scss
  src/scss/attendee/effects/sparkle.scss
  src/scss/attendee/font.scss
  src/scss/attendee/form.module.scss
  src/scss/attendee/layer.scss
  src/scss/attendee/layout.scss
  src/scss/attendee/mixins.scss
  src/scss/attendee/opacity.scss
  src/scss/attendee/space.scss
  src/scss/attendee/theme.scss
  src/scss/attendee/variables.scss
  src/scss/colors.scss
  src/scss/customOverrides.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

remove empty SCSS files
  src/scss/AvatarGrid/AvatarGrid.scss
  src/scss/AvatarGrid/RoomModal.scss
Due: prettier --write

minor style fixes
  src/components/attendee/AttendeeHeader/AttendeeHeader.module.scss
  src/components/attendee/AttendeeHeader/AttendeeHeader.tsx
  src/components/attendee/AttendeeHeader/index.ts
  src/components/attendee/AttendeeLayout.tsx
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/Input/index.ts
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.tsx
  src/scss/attendee/border.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

minor style fix
  src/components/atoms/InputField/InputField.scss
  src/components/attendee/Input/Input.module.scss
  src/components/attendee/Input/Input.tsx
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.tsx
  src/scss/attendee/variables.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Wip
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoComms/VideoCommsProvider.tsx
  src/components/attendee/VideoComms/internal/TwilioClient.tsx
  src/components/attendee/VideoComms/internal/VideoCommsControls.tsx
  src/components/attendee/VideoComms/types.ts
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
  src/components/attendee/VideoHuddle/internal/HuddleParticipant.module.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Move projection into a top level component
  src/api/venue.ts
  src/components/templates/ExperimentalSpace/ExperimentalSpace.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Remove complexity of extra buttons
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoHuddle/HuddleProvider.tsx
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/attendee/VideoHuddle/internal/ExtraButton.tsx
  src/components/attendee/VideoHuddle/internal/HuddleParticipant.tsx
  src/components/attendee/VideoHuddle/useVideoHuddle.tsx
  src/components/templates/ExperimentalSpace/ExperimentalSpace.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Visual improvement
  src/components/attendee/VideoHuddle/VideoHuddle.module.scss
Due: prettier --write

Add user names
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add experiments for projections
  firestore.rules
  src/api/experiments.ts
  src/api/venue.ts
  src/components/templates/ExperimentalSpace/ExperimentalSpace.tsx
  src/settings/apiSettings.ts
  src/types/venues.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Implements attendance component
  src/components/attendee/Attendance/Attendance.module.scss
  src/components/attendee/Attendance/Attendance.tsx
  src/components/attendee/Attendance/index.ts
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/Header/AttendeeHeader.tsx
  src/hooks/useComponentDimensions.ts
  src/hooks/useUser.ts
  src/types/venues.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx
