Repository sparkletown/sparkle: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

width
  src/components/templates/Jazzbar/JazzBar/JazzBar.module.scss
Due: prettier --write

added separator + modified inputfield component + minor style changes
  src/components/atoms/InputField/InputField.scss
  src/components/atoms/InputField/InputField.tsx
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/ScheduleOverlay/ScheduleOverlay.module.scss
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.module.scss
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.tsx
  src/scss/attendee/variables.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Implements world admins addition functionality
  functions/src/analytics.ts
  functions/src/index.ts
  functions/src/user.ts
  functions/src/utils/venue.ts
  functions/src/utils/world.ts
  functions/src/venue.ts
  src/pages/Admin/ToolsPage/scripts/index.ts
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/AddWorldOwnerOutput.tsx
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/config.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Update functions/src/analytics.ts
  functions/src/analytics.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Apply suggestions from code review
  functions/src/utils/world.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Adds new functionality. Reworks older stuff
  functions/src/user.ts
  src/pages/Admin/ToolsPage/ToolsPage.tsx
  src/pages/Admin/ToolsPage/components/Tool/Tool.tsx
  src/pages/Admin/ToolsPage/scripts/analytics/config.ts
  src/pages/Admin/ToolsPage/scripts/analytics/index.ts
  src/pages/Admin/ToolsPage/scripts/index.ts
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/AddWorldOwnerOutput.scss
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/AddWorldOwnerOutput.tsx
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/config.ts
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Implements world admins addition functionality (#2834)
  functions/src/analytics.ts
  functions/src/index.ts
  functions/src/user.ts
  functions/src/utils/venue.ts
  functions/src/utils/world.ts
  functions/src/venue.ts
  src/pages/Admin/ToolsPage/ToolsPage.tsx
  src/pages/Admin/ToolsPage/components/Tool/Tool.tsx
  src/pages/Admin/ToolsPage/scripts/analytics/config.ts
  src/pages/Admin/ToolsPage/scripts/analytics/index.ts
  src/pages/Admin/ToolsPage/scripts/index.ts
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/AddWorldOwnerOutput.scss
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/AddWorldOwnerOutput.tsx
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/config.ts
  src/pages/Admin/ToolsPage/scripts/makeWorldOwner/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fixes based on the review comments
  src/components/admin/HeaderButton.tsx
  src/components/atoms/AdminButton/AdminButton.tsx
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/molecules/AdminFooter/AdminFooter.tsx
  src/components/molecules/AdminNavBar/AdminNavBar.tsx
  src/components/molecules/AdminNavBar/components/SidebarContent/SidebarContent.tsx
  src/components/organisms/AdminProfileModal/AdminProfileModal.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/settings/interpolationSettings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Rename variable: hasWorld -> isWorldChosen
  src/components/molecules/AdminNavBar/components/SidebarContent/SidebarContent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Add redesigned SwitchSpace page
  src/components/admin/CardList.tsx
  src/components/admin/HeaderButton.tsx
  src/components/admin/LinkButton.tsx
  src/components/admin/SectionSubtitle.tsx
  src/components/admin/SpaceCard.tsx
  src/components/atoms/AdminHeader/AdminHeader.tsx
  src/components/templates/PartyMap/components/PortalModal/PortalModalContent.tsx
  src/pages/SpacesDashboard/SpacesDashboard.tsx
  src/pages/WorldsDashboard/WorldsDashboard.tsx
  src/settings/index.ts
  src/types/OnlineStatsData.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

profile overlay fixes + added paged mobile overlay view + added media resolution hook
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Header/AttendeeHeader.tsx
  src/components/attendee/InputSelect/InputSelect.module.scss
  src/components/attendee/InputSelect/InputSelect.tsx
  src/components/attendee/InputSelect/index.ts
  src/components/attendee/NavOverlay/NavOverlay.module.scss
  src/components/attendee/NavOverlay/NavOverlay.tsx
  src/components/attendee/NavOverlay/ProfileOverlay/BasicInfo/ProfileModalAvatar/ProfileModalAvatar.module.scss
  src/components/attendee/NavOverlay/ProfileOverlay/BasicInfo/ProfileModalAvatar/ProfileModalAvatar.tsx
  src/components/attendee/NavOverlay/ProfileOverlay/BasicInfo/ProfileModalAvatar/index.ts
  src/components/attendee/NavOverlay/ProfileOverlay/BasicInfo/ProfileModalEditBasicInfo.module.scss
  src/components/attendee/NavOverlay/ProfileOverlay/BasicInfo/ProfileModalEditBasicInfo.tsx
  src/components/attendee/NavOverlay/ProfileOverlay/BasicInfo/index.ts
  src/components/attendee/NavOverlay/ProfileOverlay/Links/ProfileModalEditLink/ProfileModalEditLink.tsx
  src/components/attendee/NavOverlay/ProfileOverlay/Links/ProfileModalEditLink/index.ts
  src/components/attendee/NavOverlay/ProfileOverlay/Links/ProfileModalEditLinks.module.scss
  src/components/attendee/NavOverlay/ProfileOverlay/Links/ProfileModalEditLinks.tsx
  src/components/attendee/NavOverlay/ProfileOverlay/Links/index.ts
  src/components/attendee/NavOverlay/ProfileOverlay/Password/ProfileModalChangePassword.module.scss
  src/components/attendee/NavOverlay/ProfileOverlay/Password/ProfileModalChangePassword.tsx
  src/components/attendee/NavOverlay/ProfileOverlay/Password/index.ts
  src/components/attendee/NavOverlay/ProfileOverlay/ProfileOverlay.module.scss
  src/components/attendee/NavOverlay/ProfileOverlay/ProfileOverlay.tsx
  src/components/attendee/NavOverlay/ProfileOverlay/index.ts
  src/components/attendee/NavOverlay/SearchOverlay/SearchOverlay.module.scss
  src/hooks/useProfileModalFormDefaultValues.ts
  src/hooks/viewport/useMediaQuery.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Docs minor reformat and update of code-style.md
  docs/.prettierrc.json5
  docs/Questions.md
  docs/bootstrap-application.md
  docs/code-style.md
  docs/create-new-environment.md
  docs/firebase-emulators.md
  docs/getting-started.md
  docs/load-results.md
  docs/obtain-email-addresses.md
  docs/stripe-configuration.md
  docs/twilio-configuration.md
Due: none

Add NOTE at the begining of the code style document
  docs/code-style.md
Due: none

Add comments and their tags to the code style document
  docs/code-style.md
Due: none

Add injected classes and variant properties section
  docs/code-style.md
Due: none

usefieldarray readded
  package-lock.json
  src/components/attendee/NavOverlay/ProfileOverlay/ProfileOverlay.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

New APIs for video calls
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoComms/VideoCommsProvider.tsx
  src/components/attendee/VideoComms/VideoTrackDisplay.tsx
  src/components/attendee/VideoComms/hooks.tsx
  src/components/attendee/VideoComms/internal/AudioTrackPlayer.tsx
  src/components/attendee/VideoComms/internal/TwilioClient.tsx
  src/components/attendee/VideoComms/internal/TwilioTrackDisplay.tsx
  src/components/attendee/VideoComms/internal/VideoCommsControls.tsx
  src/components/attendee/VideoComms/internal/scss/TwilioTrackDisplay.module.scss
  src/components/attendee/VideoComms/internal/useMute.ts
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/VideoComms/types.ts
  src/components/organisms/Room/Room.tsx
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/organisms/Video/index.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
  src/hooks/twilio/useParticipantMediaState.ts
  src/hooks/twilio/useParticipantState.ts
  src/hooks/twilio/useVideoRoomState.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/rooms.ts
  src/utils/room.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

New APIs for video calls (#2835)
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoComms/VideoCommsProvider.tsx
  src/components/attendee/VideoComms/VideoTrackDisplay.tsx
  src/components/attendee/VideoComms/hooks.tsx
  src/components/attendee/VideoComms/internal/AudioTrackPlayer.tsx
  src/components/attendee/VideoComms/internal/TwilioClient.tsx
  src/components/attendee/VideoComms/internal/TwilioTrackDisplay.tsx
  src/components/attendee/VideoComms/internal/VideoCommsControls.tsx
  src/components/attendee/VideoComms/internal/scss/TwilioTrackDisplay.module.scss
  src/components/attendee/VideoComms/internal/useMute.ts
  src/components/attendee/VideoComms/scss/VideoCommsParticipant.module.scss
  src/components/attendee/VideoComms/types.ts
  src/components/organisms/Room/Room.tsx
  src/components/organisms/Video/VideoParticipant.scss
  src/components/organisms/Video/VideoParticipant.tsx
  src/components/organisms/Video/index.ts
  src/components/templates/AnimateMap/components/FirebarrelWidget/FirebarrelWidget.tsx
  src/components/templates/FireBarrel/FireBarrel.tsx
  src/components/templates/Jazzbar/components/JazzBarRoom/JazzBarRoom.tsx
  src/components/templates/PosterPage/PosterPage.tsx
  src/components/templates/PosterPage/usePosterVideo.ts
  src/hooks/twilio/useParticipantMediaState.ts
  src/hooks/twilio/useParticipantState.ts
  src/hooks/twilio/useVideoRoomState.tsx
  src/pages/VenuePage/VenuePage.tsx
  src/types/rooms.ts
  src/utils/room.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Re-enable saving of table information
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Allow default tables to have static references
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/settings/index.ts
  src/utils/table.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fix table default references (#2842)
  src/components/molecules/TableHeader/components/EditTableTitleModal/EditTableTitleModal.tsx
  src/settings/index.ts
  src/utils/table.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

added time to header + mobile version
  src/components/attendee/Button/Button.module.scss
  src/components/attendee/Button/Button.tsx
  src/components/attendee/Header/AttendeeHeader.module.scss
  src/components/attendee/Header/AttendeeHeader.tsx
  src/utils/time.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Fix merge breaking
  src/components/attendee/VideoComms/VideoCommsProvider.tsx
  src/components/attendee/VideoHuddle/VideoHuddle.tsx
  src/components/attendee/VideoHuddle/useVideoHuddle.tsx
  src/pages/VenuePage/VenuePage.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Tidy up video huddle
  src/components/attendee/VideoComms/VideoCommsParticipant.tsx
  src/components/attendee/VideoHuddle/internal/ExtraButton.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

redesign create space screen
  src/components/molecules/AdminInput/AdminInput.module.scss
  src/components/molecules/AdminInput/AdminInput.scss
  src/components/molecules/AdminInput/AdminInput.tsx
  src/components/molecules/AdminSection/AdminSection.tsx
  src/components/molecules/PortalListItem/PortalListItem.tsx
  src/components/molecules/YourUrlDisplay/YourUrlDisplay.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionSubTitle/AdminSidebarSectionSubTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.tsx
  src/components/organisms/PortalShowcase/PortalShowcase.tsx
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.module.scss
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.scss
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.tsx
  src/pages/SpaceCreatePage/SpaceCreatePage.module.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Disables sparkle 2 deployment
  .github/workflows/update-env-branches.yml
Due: none

Disables sparkle 2 deployment (#2845)
  .github/workflows/update-env-branches.yml
Due: none

twillio -> tailwind correction
  docs/code-style.md
Due: none

minor wording correction
  docs/code-style.md
Due: none

Post-review fixes
  src/components/admin/Button/Button.tailwind.ts
  src/components/admin/Button/Button.tsx
  src/components/admin/Button/index.ts
  src/components/admin/HeaderButton.tsx
  src/components/admin/HeaderButton/HeaderButton.tailwind.ts
  src/components/admin/HeaderButton/HeaderButton.tsx
  src/components/admin/HeaderButton/index.ts
  src/components/atoms/AdminButton/AdminButton.tsx
  src/components/atoms/AdminButton/index.ts
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/molecules/AdminFooter/AdminFooter.tsx
  src/components/molecules/AdminNavBar/components/SidebarContent/SidebarContent.tsx
  src/components/organisms/AdminProfileModal/AdminProfileModal.tsx
  src/settings/index.ts
  src/settings/interpolationSettings.ts
  src/settings/urlSettings.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Use newer fontawesome icons
  src/components/molecules/AdminNavBar/components/SidebarContent/SidebarContent.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

Move admin components to src/components/admin
  src/components/admin/Footer/Footer.tsx
  src/components/admin/Footer/index.ts
  src/components/admin/Sidebar/Sidebar.tsx
  src/components/admin/Sidebar/components/NavBarLogin/NavBarLogin.scss
  src/components/admin/Sidebar/components/NavBarLogin/NavBarLogin.tsx
  src/components/admin/Sidebar/components/NavBarLogin/index.ts
  src/components/admin/Sidebar/components/SidebarContent/SidebarContent.tailwind.ts
  src/components/admin/Sidebar/components/SidebarContent/SidebarContent.tsx
  src/components/admin/Sidebar/components/SidebarContent/index.ts
  src/components/admin/Sidebar/index.ts
  src/components/admin/Sidebar/playa.scss
  src/components/layouts/AdminLayout/AdminLayout.tsx
  src/components/molecules/AdminFooter/index.ts
  src/components/molecules/AdminNavBar/index.ts
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

apply the latest guidelines and codestyles
  src/components/admin/FormSection.tsx
  src/components/admin/FormSectionSubtitle.tsx
  src/components/admin/FormSectionTitle.tsx
  src/components/admin/Header/Header.module.scss
  src/components/admin/Header/Header.tailwind.ts
  src/components/admin/Header/Header.tsx
  src/components/admin/Header/index.ts
  src/components/admin/Input/Input.module.scss
  src/components/admin/Input/Input.tailwind.ts
  src/components/admin/Input/Input.tsx
  src/components/admin/Input/index.ts
  src/components/molecules/AdminSection/AdminSection.tsx
  src/components/molecules/PortalListItem/PortalListItem.tailwind.ts
  src/components/molecules/PortalListItem/PortalListItem.tsx
  src/components/molecules/YourUrlDisplay/YourUrlDisplay.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionSubTitle/AdminSidebarSectionSubTitle.tsx
  src/components/organisms/AdminVenueView/components/AdminSidebarSectionTitle/AdminSidebarSectionTitle.tsx
  src/components/organisms/PortalShowcase/PortalShowcase.tsx
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.module.scss
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.tailwind.ts
  src/components/organisms/SpaceCreateForm/SpaceCreateForm.tsx
  src/pages/SpaceCreatePage/SpaceCreatePage.module.scss
  src/pages/SpaceCreatePage/SpaceCreatePage.tailwind.ts
  src/pages/SpaceCreatePage/SpaceCreatePage.tsx
  src/scss/admin/constants.scss
  src/scss/colors.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

revert admin input to original state
  src/components/molecules/AdminInput/AdminInput.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

revert admin input scss file
  src/components/molecules/AdminInput/AdminInput.module.scss
  src/components/molecules/AdminInput/AdminInput.scss
Due: prettier --write

Initial reorganization for attendee SCSS files
  package-lock.json
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/pages/Account/Profile.tsx
  src/scss/attendee/forms.module.scss
  src/scss/attendee/layers.scss
  src/scss/attendee/mixins.scss
  src/scss/attendee/spacing.scss
  src/scss/attendee/variables.scss
  src/scss/customOverrides.scss
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

fix imports of forms.module.scss
  src/components/organisms/AuthenticationModal/LoginForm/LoginForm.tsx
  src/components/organisms/AuthenticationModal/RegisterForm/RegisterForm.tsx
  src/pages/Account/Profile.tsx
Due: prettier --write, eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx

move colors.scss
  src/scss/attendee/colors.scss
  src/scss/colors.scss
Due: prettier --write

Path conditions:
  prettier --write: any of: {src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx,json,css,scss,md}
  eslint --fix --max-warnings=0 --ext .js,.jsx,.ts,.tsx: any of: {src,scripts,functions/src,configs,reporting}/**/*.{js,jsx,ts,tsx}
